* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

.hero-bg {
  background-image: url('/src/assets/header/fon-header.png');
  background-size: cover;
   background-position: bottom center;
  background-repeat: no-repeat;
}