.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 45px 0 170px;
    @media (max-width: 768px) {
     padding: 45px 0 100px;
  }
}

/* GRID */
.inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
}

/* Основной контейнер с текстом */
.content {
  max-width: 520px;

  @media (max-width: 768px) {
    max-width: 100%;
    order: 1;
  }
}

.textContent {
  @media (max-width: 768px) {
    order: 1;
  }
}

h1 {
  font-family: "Inter-Bold", sans-serif;
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 0px;
  font-weight: 700;
  margin-top: 0px;

  span {
    color: #b9f2a1;
  }

  @media (max-width: 910px) {
    font-size: 37px;
  }
  
  @media (max-width: 768px) {
    max-width: 354px;
    margin: 0 auto;
  }
}

.herodesc {
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.9;
  margin-bottom: 40px;
  max-width: 410px;

  @media (max-width: 910px) {
    font-size: 14px;
  }
  
  @media (max-width: 768px) {
    max-width: 302px;
    padding-top: 25px;
    padding-bottom: 0px;
    margin: 0 auto;
    text-align: center;
  }
}

/* Общие стили для кнопок */
.actions {
  display: flex;
  gap: 16px;
}

/* Кнопки для десктопа */
.desktopActions {
  @media (max-width: 768px) {
    display: none !important;
  }
}

/* Кнопки для мобилки */
.mobileActions {
  display: none;
  
  @media (max-width: 768px) {
    display: flex;
         justify-content: center;

    order: 3;
    width: 100%;
    margin-top: 20px;
  }
}

/* Стили кнопок */
.primary {
  background: #b8f1a5;
  color: #1d1d1d;
  padding: 18px 42px;
  border-radius: 10px;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  
  @media (max-width: 910px) {
    padding: 18px 27px;
  }
}

.secondary {
  background: transparent;
  color: #ffffff;
  padding: 18px 33px;
  border-radius: 10px;
  border: 1px solid #b8f1a5;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  
  @media (max-width: 910px) {
    padding: 18px 18px;
  }
}

/* IMAGE */
.imageWrap {
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    max-width: 440px;
  }

  @media (max-width: 768px) {
    order: 2;
    margin: 40px 0;
  }
}