.hero {
 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #ffffff;
  padding: 45px 0 170px;
}

/* GRID */
.inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

/* TEXT */
.content {
  max-width: 520px;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

h1 {
  font-family: "Inter-Bold", sans-serif;
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 0px;
  font-weight: 700;
  margin-top: 0px;

  span {
    color: #b9f2a1;
  }

  @media (max-width: 768px) {
    font-size: 36px;
  }
}

p {
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.9;
  margin-bottom: 40px;
  max-width: 410px;
}

/* BUTTONS */
.actions {
  display: flex;
  gap: 16px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.primary {
  background: #b8f1a5;
  color: #1d1d1d;
padding: 18px 42px;
  border-radius: 10px;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.secondary {
  background: transparent;
  color: #ffffff;
 padding: 18px 33px;
  border-radius: 10px;
  border: 1px solid #b8f1a5;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

/* IMAGE */
.imageWrap {
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    max-width: 440px;
  }

  @media (max-width: 768px) {
    margin-top: 40px;
  }
}










