.clients {
  padding: 80px 20px;
  background-color: #fff;
   @media (max-width: 767px) {
        padding: 40px 0px 0px 0px;
    }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content {
    text-align: center;
    margin-bottom: 83px;
    width: 100%;
    
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  
  .title {
    font-size: 56px;
    font-weight: 700;
      font-family: "Inter-Bold", sans-serif;
    margin-bottom: 15px;
    color: #333;
    line-height: 1.2;
    
    @media (max-width: 767px) {
      font-size: 36px;
       margin-bottom: 15px;
    }
  }
  
  .description {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    max-width: 514px;
    margin: 0 auto;
    
    @media (max-width: 767px) {
      font-size: 14px;
      max-width: 300px;
    }
  }
  
  .logosContainer {
    width: 100%;
    margin-bottom: 121px;
    
    @media (max-width: 767px) {
      margin-bottom: 80px;
    }
  }
  
  .logosGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 141px;
    
    @media (max-width: 1024px) {
      gap: 80px;
    }
    
    @media (max-width: 767px) {
      flex-direction: column;
      gap: 40px;
    }
  }
  
  .logoItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 179px;
    height: 56px;
    
    @media (max-width: 767px) {
      width: 179px;
      height: 56px;
    }
  }
  
  .logoImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}