.portfolio {
  width: 100%;
  margin-bottom: 100px;
}

/* HEADER */
.header {
  max-width: 1392px;
  margin: 0 auto 60px;
  padding: 0 20px;
  text-align: center;
}

.title {
  margin-top: 70px;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}



.description {
  font-size: 18px;
  color: #666;
  max-width: 520px;
  margin: 12px auto 0;
}

/* DESKTOP MOSAIC */
.mosaic {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 240px);
  gap: 2px;
  justify-content: center;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* GRID AREAS */
.leftTall { grid-column: 1; grid-row: 1 / 3; }
.col2Top { grid-column: 2; grid-row: 1; }
.col2Bottom { grid-column: 2; grid-row: 2; }

.central {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
}

.col5 { grid-column: 5; grid-row: 1; }
.col6 { grid-column: 6; grid-row: 1; }

.bottomWide { grid-column: 1 / 3; grid-row: 3; }
.bottomCenter { grid-column: 3; grid-row: 3; }
.bottomRight { grid-column: 4; grid-row: 3; }

.rightBig { grid-column: 5 / 7; grid-row: 2 / 4; }

/* OVERLAY */
.overlay {
  
  inset: auto 0 0 0;
  padding: 60% 20px 20px 20px ;
  margin-bottom: 2px;

  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 18px;
    margin-bottom: 6px;
  }

  p {
    font-size: 14px;
    opacity: 0.85;
  }

  img {
    width: 22px;
  }
}



/* MOBILE */
.mobile {
  display: none;
}

@media (max-width: 1024px) {
  .mosaic {
  
  }
}

@media (max-width: 768px) {

  .overlay {
    background-image: url("../../assets/Portfolio/central-img.png");
  inset: auto 0 0 0;
  padding: 90px 20px 20px 20px ;
  margin-bottom: 2px;
  background-size: cover;
        background-position: bottom;
  }
  
  .header {

  margin: 0 auto 40px;
  
}
  .mosaic {
    display: none;
  }

  .mobile {
    display: block;
    padding: 0 20px;
  }

  .mobileCentral {
    height: 320px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 16px;
  }

  .mobileGrid {
    display: grid;
   
    gap: 2px;

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }
  }

  .title {
    margin-top: 50px;
    font-size: 36px;
  }

  .description {
    font-size: 14px;
  }

  .portfolio {
  margin-bottom: 55px;
}
}
